<body>
<div ng-controller="AdminWhiskyController">

    <div class="input-group" style="width:15%">
      <input type="text" class="form-control" aria-describedby="sizing-addon3" ng-model="distilleryBottlerIn" maxlength ="20" placeholder="Distillery/Bottler">
      <input type="text" class="form-control" aria-describedby="sizing-addon3" ng-model="expressionIn" maxlength ="25" placeholder="Expression">
      <input type="text" class="form-control" aria-describedby="sizing-addon3" ng-model="palateIn"   placeholder="Palate notes">
      <input type="text" class="form-control" aria-describedby="sizing-addon3" ng-model="abvIn"   maxlength ="3" placeholder="ABV, number only">
    </div>


    <div class="" style="width:15%">
        <select class="form-control" id="repeatCaskFinish" ng-model="caskFinish" selected="caskSelect" e-ng-options="for cask in casks track by cask.id">
            <option disable selected value>Cask Finish</option>
            <option ng-repeat="cask in casks">{{ cask.id }}</option>
        </select>

        <select class="form-control" id="repeatRegionSelect" ng-model="regionIn" e-ng-options="">
            <option disable selected value>Region</option>
            <option ng-repeat="region in regions" value="{{region.region.id}}">{{region.region}}</option>
        </select>

        <select class="form-control" id="repeatWhiskySelect" ng-model="whiskyTypeIn" e-ng-options="">
            <option disable selected value>Whisky Type</option>
            <option ng-repeat="whisky in whiskies" value="{{whisky.whisky_type.id}}">{{whisky.whisky_type}}</option>
        </select>
    </div>

      <button type="button" class="btn btn-primary" ng-click="addScotchDB()">Submit</button>
      <button type="button" class="btn btn-primary" ng-click="displayScotchDB()">Display All Scotches</button>

      <table class="table table-bordered table-hover table-condensed">
              <tr style="font-weight: bold">
                  <th>ID</th>
                  <th>Region</th>
                  <th>Distillery or Producer</th>
                  <th>Expression</th>
                  <th>Palate</th>
                  <th>ABV</th>
                  <th>Cask Finish</th>
                  <th>Type of Scotch</th>
              </tr>
                <tr ng-repeat="scotch in alladMinScotch">
                    <td>
                      <!-- <span editable-text="scotch.id" e-name="id" e-form="rowform" e-required> -->
                        {{scotch.id}}
                      <!-- </span> -->
                  </td>
                    <td>
                      <span editable-text="scotch.region" e-name="region" e-form="rowform" e-required>
                        {{scotch.region || 'empty'}}
                      </span>
                  </td>
                    <td>
                      <span editable-text="scotch.distillery" e-name="distillery" e-form="rowform" e-required>
                        {{scotch.distillery || 'empty'}}
                      </span>
                    </td>
                  <td>
                      <span editable-text="scotch.expression" e-name="expression" e-form="rowform" e-required>
                        {{scotch.expression || 'empty'}}
                      </span>
                    </td>
                  <td>
                      <span editable-text="scotch.palate" e-name="palate" e-form="rowform" e-required>
                        {{scotch.palate || 'empty'}}
                      </span>
                    </td>
                  <td>
                      <span editable-text="scotch.abv" e-name="abv" e-form="rowform" e-required>
                        {{scotch.abv || 'empty'}}
                      </span>
                    </td>
                  <td>
                      <span editable-text="scotch.cask_finish" e-name="cask_finish" e-form="rowform" e-required>
                        {{scotch.cask_finish || 'empty'}}
                      </span>
                    </td>
                    <!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
                  <td>
                      <span editable-text="scotch.whisky_type" e-name="whisky_type" onshow="loadWhisky()" e-form="rowform" e-required>
                        {{scotch.whisky_type || 'empty'}} {{ whiskyDisplay(whisky_type) }}
                      </span>
                    <!-- ///////////////////////////////////////////////////////////////////////////////////////////// -->
                    </td>
                  <td style="white-space: nowrap">
                  <form editable-form name="rowform" onbeforesave="saveScotch($data, scotch.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == scotch">
                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                        Save
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                        Cancel
                    </button>
                  </form>
                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">Edit</button>
                    <button class="btn btn-danger" ng-click="deleteScotchDB(scotch.id)">Delete</button>
                  </div>

                  <!-- <button type="button" name="deleteScotchDB" ng-click="deleteScotchDB(scotch.id)" class="btn btn-primary">Delete</button> -->
                  </td>
                </tr>
              </table>
              <button class="btn btn-default" ng-click="logout()">Log Out</button>
              <div ng-include="'views/register.html'"></div>

</div>
</body>
