<div class="container">
  <h1 class="lead">Login</h1>
    <h1 class="lead alert alert-danger" role="alert" ng-if="message != ''">{{message}}</h1>
    <form ng-submit="login()">
      <div>
          <label for="username">Username:</label>
          <input type="text" ng-model="user.username" />
      </div>
      <div>
          <label for="password">Password:</label>
          <input type="password" ng-model="user.password" />
      </div>
      <div>
          <input class="btn btn-default" type="submit" name="submit" value="Log In" />
      </div>
    </form>
</div>
<!-- ng-controller="LoginController" -->
<!-- <img src="http://static1.squarespace.com/static/557a3387e4b0e60cd91a28fd/557a3a69e4b084638eaff612/56059f74e4b08fde4cf5e15a/1457030669141/Bar.jpg?format=2500w" alt="Highlands bar"/> -->
