<body>
<!-- <div ng-controller="SearchWhiskyController"> -->
<div>
    <input type="text" ng-model="keywordIn" value="" placeholder="Search by Keyword">
      <select name="whiskyType" ng-model="whiskyType">
            <option value="Single Malt">Single Malt</option>
            <option value="Single Grain">Single Grain</option>
            <option value="Blended Malt">Blended Malt</option>
            <option value="Blended Grain">Blended Grain</option>
            <option value="Blended Scotch Whisky">Blended Scotch Whisky</option>
      </select>
      <select name="scotchRegion" ng-model="scotchRegion">
            <option value="Highlands">Highlands</option>
            <option value="Speyside">Speyside</option>
            <option value="Lowlands">Lowlands</option>
            <option value="Islay">Islay</option>
            <option value="Campbeltown">Campbeltown</option>
            <option value="Independent Bottler">Independent Bottler</option>
      </select>
      <button type="button" ng-click="queryScotchDB()">Submit</button>
              <table>
                <tr>
                  <th>Region</th>
                  <th>Distillery</th>
                  <th>Expression</th>
                  <th>Palate</th>
                  <th>ABV</th>
                  <th>Cask Finish</th>
                  <th>Type of Scotch</th>
                </tr>
                <tr ng-repeat="scotch in allTheScotch">
                  <td>{{scotch.region}}</td>
                  <td>{{scotch.distillery}}</td>
                  <td>{{scotch.expression}}</td>
                  <td>{{scotch.palate}}</td>
                  <td>{{scotch.abv}}</td>
                  <th>{{scotch.cask_finish}}</th>
                  <th>{{scotch.whisky_type}}</th>
                </tr>
              </table>
</div>
</body>
