/*body{
  background: url("http://static1.squarespace.com/static/557a3387e4b0e60cd91a28fd/557a3a69e4b084638eaff612/56059f74e4b08fde4cf5e15a/1457030669141/Bar.jpg?format=2500w")
}*/


/*input-group {
  display : inline-block
}*/

#highlands{
  width: 100%;
  /*height: 550px;*/
  background-size: cover;
}
.mainHeader{
  background-color: white
  ;
  text-align: center;
  color: #7d8085;
  height: 60px;
  padding: 0px;
}

}


mainFooter{

}
